---
controller_credentials_{{ env }}:
{%- for credential in credentials -%}
{{ '\n' -}} - name: {{ credential.name }}
{%- if credential.description != '' -%} 
{{ '\n' -}}{{ '\t' -}}description: {{ credential.description }}
{%- endif -%}
{%- if credential.organization is defined and credential.organization != '' -%} 
{{ '\n' -}}'  'organization: {{ credential.organization }}
{%- endif -%}
{{ '\n' -}}{{ '\t' -}}credential_type: {{ credential.summary_fields.credential_type.name }}
{%- if credential.inputs is defined  -%} 
{{ '\n' -}}{{ '\t' -}}inputs:
{%- for input in credential.inputs -%}
{{ '\n' -}}{{ '\t' -}}{{ '\t' -}}{{ input }}: '{{ credential.inputs[input] }}'
{%- endfor -%}
{%- endif -%}
{%- endfor -%}
