---
controller_projects_{{ env }}:
{%- for credential_type in credential_types -%}
{{ '\n' -}} - name: {{ credential_type.name }}
{%- if credential_type.description != '' -%} 
{{ '\n' -}}{{ '\t' -}}description: {{ credential_type.description }}
{%- endif -%}
{{ '\n' -}}{{ '\t' -}}inputs:
{{ '\n' -}}{{ '\t' -}}{{ '\t' -}}fields:
{%- for field in credential_type.inputs.fields -%}
{{ '\n' -}}{{ '\t' -}}{{ '\t' -}}- type: {{ field.type }}
{{ '\n' -}}{{ '\t' -}}{{ '\t' -}}  id: {{ field.id }}
{{ '\n' -}}{{ '\t' -}}{{ '\t' -}}  label: {{ field.label }}
{%- if field.secret is defined and field.secret -%} 
{{ '\n' -}}{{ '\t' -}}{{ '\t' -}}  secret: {{ field.secret }}
{%- endif -%}
{%- endfor -%}
{%- if credential_type.inputs.required is defined  -%} 
{{ '\n' -}}{{ '\t' -}}{{ '\t' -}}required: 
{%- for requirement in credential_type.inputs.required -%}
{{ '\n' -}}{{ '\t' -}}{{ '\t' -}}- {{ requirement }}
{%- endfor -%}
{%- endif -%}
{{ '\n' -}}{{ '\t' -}}injectors: 
{{ '\n' -}}{{ '\t' -}}{{ '\t' -}}extra_vars:
{%- if credential_type.injectors.extra_vars is defined  -%} 
{%- for extra_var in credential_type.injectors.extra_vars -%}
{{ '\n' -}}{{ '\t' -}}{{ '\t' -}}{{ '\t' -}}{{ extra_var }}
{%- endfor -%}
{%- endif -%}
{%- endfor -%}