---
controller_credentials_{{ env }}:
{% for credential in credentials %}
- name: {{ credential.name }}
{% filter indent(width=2) -%}
{{'\n'}}description: {{ credential.description }}
{{'\n'}}{%- if credential.organization is defined and credential.organization != '' -%} 
{{'\n'}}organization: {{ credential.organization }} {% endif -%}
{{'\n'}}credential_type: {{ credential.summary_fields.credential_type.name }}
{% if credential.inputs is defined -%}{{'\n'}}inputs: {% endfilter %}
{% for input in credential.inputs -%}
{% filter indent(width=3) %}{{'\n'}}{{ input }}: '{{ credential.inputs[input] }}' {% endfilter %}
{% endfor %}
{% endif -%}
{{'\n'}}
{% endfor %}
