---
controller_credentials_{{ env }}:
{% filter indent(width=2) %}
{%- for credential in credentials -%}
- name: {{ credential.name }}
{%- if credential.description != '' -%} 
{{ '\n' -}}description: {{ credential.description }}
{%- endif -%}
{%- if credential.organization is defined and credential.organization != '' -%} 
{{ '\n' -}}organization: {{ credential.organization }}
{%- endif -%}
{{ '\n' -}}credential_type: {{ credential.summary_fields.credential_type.name }}
{%- if credential.inputs is defined  -%} 
{{ '\n' -}}inputs:
{% filter indent(width=4) %}
{%- for input in credential.inputs -%}
{{ '\n' -}}{{ input }}: '{{ credential.inputs[input] }}'
{%- endfor -%}
{% endfilter %}
{%- endif -%}
{{ '\n' -}}
{%- endfor -%}
{% endfilter %}
