---
controller_templates_all:
{% for job_template in job_templates %}
   - name: {{ job_template.name }}
     project: {{ job_template.project.name }}
     job_type: {{ job_template.job_type }}
     playbook: {{ job_template.playbook }}
     inventory: {{ job_template.inventory.name }}
     {% if job_template.execution_environment is not none %} 
     execution_environment: {{ job_template.execution_environment.name }}
     {% endif %}
     concurrent_jobs_enabled: false
     verbosity: {{ job_template.verbosity }}
   #  credentials: {% for credential in job_template.related.credentials %}
    #    {{ credential }}
    #              {% endfor %}
{% endfor %}