---
controller_templates_all:
{%- for job_template in job_templates -%}
{{ '\n' -}} - name: {{ job_template.name }}
 {%- if job_template.description != '' -%} 
{{ '\n' -}}{{ '\t' -}}description: {{ job_template.description }}
 {%- endif -%}
{{ '\n' -}}{{ '\t' -}}project: {{ job_template.project.name }}
  job_type: {{ job_template.job_type }}
  playbook: {{ job_template.playbook }}
  inventory: {{ job_template.inventory.name }}
{%- if job_template.execution_environment is not none -%}
{{ '\n' -}}{{ '\t' -}}execution_environment: {{ job_template.execution_environment.name }}
{%- endif -%}
{{ '\n' -}}{{ '\t' -}}verbosity: {{ job_template.verbosity }}
  credentials: {{ '\n' -}}
     {%- for credential in job_template.related.credentials -%}
     {{ '\t' -}}{{ '\t' -}}- {{ credential.name }} {{ '\n' -}}
     {% endfor -%}
{{ '\t' -}}extra_vars: {{ job_template.extra_vars }}
{%- if job_template.job_tags != '' -%} 
{{ '\n' -}}{{ '\t' -}}job_tags: {{ job_template.job_tags }}
 {%- endif -%}
{%- if job_template.scm_branch != '' -%} 
{{ '\n' -}}{{ '\t' -}}scm_branch: {{ job_template.scm_branch }}
 {%- endif -%}
{%- if job_template.skip_tags != '' -%} 
{{ '\n' -}}{{ '\t' -}}skip_tags: {{ job_template.skip_tags }}
 {%- endif -%}
{%- endfor -%}