controller_settings_all:
  settings:
    # SYSTEM SETTINGS - GET /api/v2/settings/system/

    ACTIVITY_STREAM_ENABLED: {{ aap_settings.ACTIVITY_STREAM_ENABLED }}
    ACTIVITY_STREAM_ENABLED_FOR_INVENTORY_SYNC: {{ aap_settings.ACTIVITY_STREAM_ENABLED_FOR_INVENTORY_SYNC }}
    ORG_ADMINS_CAN_SEE_ALL_USERS: {{ aap_settings.ORG_ADMINS_CAN_SEE_ALL_USERS }}
    MANAGE_ORGANIZATION_AUTH: {{ aap_settings.MANAGE_ORGANIZATION_AUTH }}
    TOWER_URL_BASE: '{{ aap_settings.TOWER_URL_BASE }}'
    REMOTE_HOST_HEADERS: {{ aap_settings.REMOTE_HOST_HEADERS }}
    PROXY_IP_ALLOWED_LIST: {{ aap_settings.PROXY_IP_ALLOWED_LIST }}
    CSRF_TRUSTED_ORIGINS: {{ aap_settings.CSRF_TRUSTED_ORIGINS }}
    REDHAT_USERNAME: '{{ aap_settings.REDHAT_USERNAME | default('') }}'
    SUBSCRIPTIONS_USERNAME: '{{ aap_settings.REDHAT_USERNAME | default('')}}'
    #DEFAULT_EXECUTION_ENVIRONMENT: 3
    CUSTOM_VENV_PATHS: {{ aap_settings.CUSTOM_VENV_PATHS | default([])}}
    INSIGHTS_TRACKING_STATE: {{ aap_settings.INSIGHTS_TRACKING_STATE }}
    AUTOMATION_ANALYTICS_LAST_GATHER: {{ aap_settings.AUTOMATION_ANALYTICS_LAST_GATHER  }}
    AUTOMATION_ANALYTICS_LAST_ENTRIES: '{{ aap_settings.AUTOMATION_ANALYTICS_LAST_ENTRIES | default('') }}'
    AUTOMATION_ANALYTICS_GATHER_INTERVAL: {{ aap_settings.AUTOMATION_ANALYTICS_GATHER_INTERVAL }}
    IS_K8S: {{ aap_settings.IS_K8S }}
    UI_NEXT: {{ aap_settings.UI_NEXT }}

    # UI SETTINGS - GET /api/v2/settings/ui/

    PENDO_TRACKING_STATE: {{ aap_settings.PENDO_TRACKING_STATE }}
    PENDO_TRACKING_STATE: '{{ aap_settings.PENDO_TRACKING_STATE }}'
    CUSTOM_LOGO: '{{ aap_settings.CUSTOM_LOGO }}'
    MAX_UI_JOB_EVENTS: {{ aap_settings.MAX_UI_JOB_EVENTS }}
    UI_LIVE_UPDATES_ENABLED: {{ aap_settings.UI_LIVE_UPDATES_ENABLED }}

    # SYSTEM AUTHENTICATION SETTINGS - GET /api/v2/settings/authentication/

    SESSION_COOKIE_AGE: {{ aap_settings.SESSION_COOKIE_AGE }}
    SESSIONS_PER_USER: {{ aap_settings.SESSIONS_PER_USER }}
    DISABLE_LOCAL_AUTH: {{ aap_settings.DISABLE_LOCAL_AUTH }}
    AUTH_BASIC_ENABLED: {{ aap_settings.AUTH_BASIC_ENABLED }}
    OAUTH2_PROVIDER:
      ACCESS_TOKEN_EXPIRE_SECONDS: {{ aap_settings.OAUTH2_PROVIDER.ACCESS_TOKEN_EXPIRE_SECONDS }}
      AUTHORIZATION_CODE_EXPIRE_SECONDS: {{ aap_settings.OAUTH2_PROVIDER.AUTHORIZATION_CODE_EXPIRE_SECONDS }}
      REFRESH_TOKEN_EXPIRE_SECONDS: {{ aap_settings.OAUTH2_PROVIDER.REFRESH_TOKEN_EXPIRE_SECONDS }}
    ALLOW_OAUTH2_FOR_EXTERNAL_USERS: {{ aap_settings.ALLOW_OAUTH2_FOR_EXTERNAL_USERS }}
    LOGIN_REDIRECT_OVERRIDE: '{{ aap_settings.LOGIN_REDIRECT_OVERRIDE }}'
    ALLOW_METRICS_FOR_ANONYMOUS_USERS: {{ aap_settings.ALLOW_METRICS_FOR_ANONYMOUS_USERS }}
    AUTHENTICATION_BACKENDS: {{ aap_settings.AUTHENTICATION_BACKENDS  }}
    SOCIAL_AUTH_ORGANIZATION_MAP: {{ aap_settings.SOCIAL_AUTH_ORGANIZATION_MAP  }}
    SOCIAL_AUTH_TEAM_MAP: {{ aap_settings.SOCIAL_AUTH_TEAM_MAP  }}
    SOCIAL_AUTH_USER_FIELDS: {{ aap_settings.SOCIAL_AUTH_USER_FIELDS  }}
    SOCIAL_AUTH_USERNAME_IS_FULL_EMAIL: {{ aap_settings.SOCIAL_AUTH_USERNAME_IS_FULL_EMAIL  }}
    LOCAL_PASSWORD_MIN_LENGTH: {{ aap_settings.LOCAL_PASSWORD_MIN_LENGTH  }}
    LOCAL_PASSWORD_MIN_DIGITS: {{ aap_settings.LOCAL_PASSWORD_MIN_DIGITS  }}
    LOCAL_PASSWORD_MIN_UPPER: {{ aap_settings.LOCAL_PASSWORD_MIN_UPPER  }}
    LOCAL_PASSWORD_MIN_SPECIAL: {{ aap_settings.LOCAL_PASSWORD_MIN_SPECIAL  }}

    # SYSTEM LOGGING SETTINGS - GET /api/v2/settings/logging/

    LOG_AGGREGATOR_HOST: '{{ aap_settings.LOG_AGGREGATOR_HOST }}'
    LOG_AGGREGATOR_PORT: {{ aap_settings.LOG_AGGREGATOR_PORT }}
    LOG_AGGREGATOR_TYPE: {{ aap_settings.LOG_AGGREGATOR_TYPE }}
    LOG_AGGREGATOR_USERNAME: '{{ aap_settings.LOG_AGGREGATOR_USERNAME }}'
    LOG_AGGREGATOR_PASSWORD: ''
    LOG_AGGREGATOR_LOGGERS: {{ aap_settings.LOG_AGGREGATOR_LOGGERS | default([]) }}
    LOG_AGGREGATOR_INDIVIDUAL_FACTS: {{ aap_settings.LOG_AGGREGATOR_INDIVIDUAL_FACTS }}
    LOG_AGGREGATOR_ENABLED: {{ aap_settings.LOG_AGGREGATOR_ENABLED }}
    LOG_AGGREGATOR_TOWER_UUID: '{{ aap_settings.LOG_AGGREGATOR_TOWER_UUID }}'
    LOG_AGGREGATOR_PROTOCOL: {{ aap_settings.LOG_AGGREGATOR_PROTOCOL }}
    LOG_AGGREGATOR_TCP_TIMEOUT: {{ aap_settings.LOG_AGGREGATOR_TCP_TIMEOUT }}
    LOG_AGGREGATOR_VERIFY_CERT: {{ aap_settings.LOG_AGGREGATOR_VERIFY_CERT }}
    LOG_AGGREGATOR_LEVEL: {{ aap_settings.LOG_AGGREGATOR_LEVEL }}
    LOG_AGGREGATOR_ACTION_QUEUE_SIZE: {{ aap_settings.LOG_AGGREGATOR_ACTION_QUEUE_SIZE }}
    LOG_AGGREGATOR_ACTION_MAX_DISK_USAGE_GB: {{ aap_settings.LOG_AGGREGATOR_ACTION_MAX_DISK_USAGE_GB }}
    LOG_AGGREGATOR_MAX_DISK_USAGE_PATH: "{{ aap_settings.LOG_AGGREGATOR_MAX_DISK_USAGE_PATH }}"
    LOG_AGGREGATOR_RSYSLOGD_DEBUG: {{ aap_settings.LOG_AGGREGATOR_RSYSLOGD_DEBUG }}
    API_400_ERROR_LOG_FORMAT: {{ aap_settings.API_400_ERROR_LOG_FORMAT }}

    # JOB SETTINGS - GET /api/v2/settings/jobs/

    AD_HOC_COMMANDS: {{ aap_settings.AD_HOC_COMMANDS }}
    ALLOW_JINJA_IN_EXTRA_VARS: {{ aap_settings.ALLOW_JINJA_IN_EXTRA_VARS }}
    AWX_ISOLATION_BASE_PATH: '{{ aap_settings.AWX_ISOLATION_BASE_PATH }}'
    AWX_ISOLATION_SHOW_PATHS: {{ aap_settings.AWX_ISOLATION_SHOW_PATHS }}
    AWX_TASK_ENV: {{ aap_settings.AWX_TASK_ENV }}
    AWX_RUNNER_KEEPALIVE_SECONDS: {{ aap_settings.AWX_RUNNER_KEEPALIVE_SECONDS }}
    GALAXY_TASK_ENV:
      ANSIBLE_FORCE_COLOR: '{{ aap_settings.GALAXY_TASK_ENV.ANSIBLE_FORCE_COLOR }}'
      GIT_SSH_COMMAND: '{{ aap_settings.GALAXY_TASK_ENV.GIT_SSH_COMMAND }}'
    PROJECT_UPDATE_VVV: {{ aap_settings.PROJECT_UPDATE_VVV }}
    AWX_ROLES_ENABLED: {{ aap_settings.AWX_ROLES_ENABLED }}
    AWX_COLLECTIONS_ENABLED: {{ aap_settings.AWX_COLLECTIONS_ENABLED }}
    AWX_SHOW_PLAYBOOK_LINKS: {{ aap_settings.AWX_SHOW_PLAYBOOK_LINKS }}
    AWX_MOUNT_ISOLATED_PATHS_ON_K8S: {{ aap_settings.AWX_MOUNT_ISOLATED_PATHS_ON_K8S }}
    GALAXY_IGNORE_CERTS: {{ aap_settings.GALAXY_IGNORE_CERTS }}
    STDOUT_MAX_BYTES_DISPLAY: {{ aap_settings.STDOUT_MAX_BYTES_DISPLAY }}
    EVENT_STDOUT_MAX_BYTES_DISPLAY: {{ aap_settings.EVENT_STDOUT_MAX_BYTES_DISPLAY }}
    MAX_WEBSOCKET_EVENT_RATE: {{ aap_settings.MAX_WEBSOCKET_EVENT_RATE }}
    SCHEDULE_MAX_JOBS: {{ aap_settings.SCHEDULE_MAX_JOBS }}
    AWX_ANSIBLE_CALLBACK_PLUGINS: {{ aap_settings.AWX_ANSIBLE_CALLBACK_PLUGINS | default([]) }}
    DEFAULT_JOB_TIMEOUT: {{ aap_settings.DEFAULT_JOB_TIMEOUT }}
    DEFAULT_JOB_IDLE_TIMEOUT: {{ aap_settings.DEFAULT_JOB_IDLE_TIMEOUT }}
    DEFAULT_INVENTORY_UPDATE_TIMEOUT: {{ aap_settings.DEFAULT_INVENTORY_UPDATE_TIMEOUT }}
    DEFAULT_PROJECT_UPDATE_TIMEOUT: {{ aap_settings.DEFAULT_PROJECT_UPDATE_TIMEOUT }}
    ANSIBLE_FACT_CACHE_TIMEOUT: {{ aap_settings.ANSIBLE_FACT_CACHE_TIMEOUT }}
    MAX_FORKS: {{ aap_settings.MAX_FORKS }}
    DEFAULT_CONTAINER_RUN_OPTIONS: {{ aap_settings.DEFAULT_CONTAINER_RUN_OPTIONS | default([]) }}

    # LDAP SETTINGS - GET /api/v2/settings/ldap/

    AUTH_LDAP_SERVER_URI: {{ aap_settings.AUTH_LDAP_SERVER_URI }}
    AUTH_LDAP_BIND_DN: {{ aap_settings.AUTH_LDAP_BIND_DN }}
    #AUTH_LDAP_BIND_PASSWORD: "$encrypted$"
    AUTH_LDAP_START_TLS: {{ aap_settings.AUTH_LDAP_START_TLS }}
    AUTH_LDAP_CONNECTION_OPTIONS:
      OPT_REFERRALS: {{ aap_settings.AUTH_LDAP_CONNECTION_OPTIONS.OPT_REFERRALS }}
      OPT_NETWORK_TIMEOUT: {{ aap_settings.AUTH_LDAP_CONNECTION_OPTIONS.OPT_NETWORK_TIMEOUT }}
    AUTH_LDAP_USER_SEARCH: {{ aap_settings.AUTH_LDAP_USER_SEARCH | default([])}}
    AUTH_LDAP_USER_DN_TEMPLATE: {{ aap_settings.AUTH_LDAP_USER_DN_TEMPLATE }}
    AUTH_LDAP_USER_ATTR_MAP: {{ aap_settings.AUTH_LDAP_USER_ATTR_MAP }}
    AUTH_LDAP_GROUP_SEARCH:{{ aap_settings.AUTH_LDAP_GROUP_SEARCH | default([]) }}
    AUTH_LDAP_GROUP_TYPE: {{ aap_settings.AUTH_LDAP_GROUP_TYPE }}
    AUTH_LDAP_GROUP_TYPE_PARAMS: {{ aap_settings.AUTH_LDAP_GROUP_TYPE_PARAMS }}
    AUTH_LDAP_REQUIRE_GROUP: {{ aap_settings.AUTH_LDAP_REQUIRE_GROUP }}
    AUTH_LDAP_DENY_GROUP: {{ aap_settings.AUTH_LDAP_DENY_GROUP }}
    AUTH_LDAP_USER_FLAGS_BY_GROUP: {{ aap_settings.AUTH_LDAP_USER_FLAGS_BY_GROUP }}
    AUTH_LDAP_ORGANIZATION_MAP: {{ aap_settings.AUTH_LDAP_ORGANIZATION_MAP }}
    AUTH_LDAP_TEAM_MAP: {{ aap_settings.AUTH_LDAP_TEAM_MAP }}
    AUTH_LDAP_1_SERVER_URI: '{{ aap_settings.AUTH_LDAP_1_SERVER_URI }}'
    AUTH_LDAP_1_BIND_DN: '{{ aap_settings.AUTH_LDAP_1_BIND_DN }}'
    # AUTH_LDAP_1_BIND_PASSWORD: ''
    AUTH_LDAP_1_START_TLS: {{ aap_settings.AUTH_LDAP_1_START_TLS }}
    AUTH_LDAP_1_CONNECTION_OPTIONS:
      OPT_REFERRALS: {{ aap_settings.AUTH_LDAP_1_CONNECTION_OPTIONS.OPT_REFERRALS }}
      OPT_NETWORK_TIMEOUT: {{ aap_settings.AUTH_LDAP_1_CONNECTION_OPTIONS.OPT_NETWORK_TIMEOUT }}
    AUTH_LDAP_1_USER_SEARCH: {{ aap_settings.AUTH_LDAP_1_USER_SEARCH | default([]) }}
    AUTH_LDAP_1_USER_DN_TEMPLATE: {{ aap_settings.AUTH_LDAP_1_USER_DN_TEMPLATE }}
    AUTH_LDAP_1_USER_ATTR_MAP: {{ aap_settings.AUTH_LDAP_1_USER_ATTR_MAP }}
    AUTH_LDAP_1_GROUP_SEARCH: {{ aap_settings.AUTH_LDAP_1_GROUP_SEARCH | default([]) }}
    AUTH_LDAP_1_GROUP_TYPE: {{ aap_settings.AUTH_LDAP_1_GROUP_TYPE }}
    AUTH_LDAP_1_GROUP_TYPE_PARAMS:
      member_attr: {{ aap_settings.AUTH_LDAP_1_GROUP_TYPE_PARAMS.member_attr }}
      name_attr: {{ aap_settings.AUTH_LDAP_1_GROUP_TYPE_PARAMS.name_attr }}
    AUTH_LDAP_1_REQUIRE_GROUP: {{ aap_settings.AUTH_LDAP_1_REQUIRE_GROUP }}
    AUTH_LDAP_1_DENY_GROUP: {{ aap_settings.AUTH_LDAP_1_DENY_GROUP }}
    AUTH_LDAP_1_USER_FLAGS_BY_GROUP: {{ aap_settings.AUTH_LDAP_1_USER_FLAGS_BY_GROUP }}
    AUTH_LDAP_1_ORGANIZATION_MAP: {{ aap_settings.AUTH_LDAP_1_ORGANIZATION_MAP }}
    AUTH_LDAP_1_TEAM_MAP: {{ aap_settings.AUTH_LDAP_1_TEAM_MAP }}
    AUTH_LDAP_2_SERVER_URI: '{{ aap_settings.AUTH_LDAP_2_SERVER_URI }}'
    AUTH_LDAP_2_BIND_DN: '{{ aap_settings.AUTH_LDAP_2_BIND_DN }}'
    # AUTH_LDAP_2_BIND_PASSWORD: ''
    AUTH_LDAP_2_START_TLS: {{ aap_settings.AUTH_LDAP_2_START_TLS }}
    AUTH_LDAP_2_CONNECTION_OPTIONS:
      OPT_REFERRALS: {{ aap_settings.AUTH_LDAP_2_CONNECTION_OPTIONS.OPT_REFERRALS }}
      OPT_NETWORK_TIMEOUT: {{ aap_settings.AUTH_LDAP_2_CONNECTION_OPTIONS.OPT_NETWORK_TIMEOUT }}
    AUTH_LDAP_2_USER_SEARCH: {{ aap_settings.AUTH_LDAP_2_USER_SEARCH | default([]) }}
    AUTH_LDAP_2_USER_DN_TEMPLATE: {{ aap_settings.AUTH_LDAP_2_USER_DN_TEMPLATE }}
    AUTH_LDAP_2_USER_ATTR_MAP: {{ aap_settings.AUTH_LDAP_2_USER_ATTR_MAP }}
    AUTH_LDAP_2_GROUP_SEARCH: {{ aap_settings.AUTH_LDAP_2_GROUP_SEARCH | default([])}}
    AUTH_LDAP_2_GROUP_TYPE: {{ aap_settings.AUTH_LDAP_2_GROUP_TYPE }}
    AUTH_LDAP_2_GROUP_TYPE_PARAMS:
      member_attr: {{ aap_settings.AUTH_LDAP_2_GROUP_TYPE_PARAMS.member_attr }}
      name_attr: {{ aap_settings.AUTH_LDAP_2_GROUP_TYPE_PARAMS.name_attr }}
    AUTH_LDAP_2_REQUIRE_GROUP: {{ aap_settings.AUTH_LDAP_2_REQUIRE_GROUP }}
    AUTH_LDAP_2_DENY_GROUP: {{ aap_settings.AUTH_LDAP_2_DENY_GROUP }}
    AUTH_LDAP_2_USER_FLAGS_BY_GROUP: {{ aap_settings.AUTH_LDAP_2_USER_FLAGS_BY_GROUP }}
    AUTH_LDAP_2_ORGANIZATION_MAP: {{ aap_settings.AUTH_LDAP_2_ORGANIZATION_MAP }}
    AUTH_LDAP_2_TEAM_MAP: {{ aap_settings.AUTH_LDAP_2_TEAM_MAP }}
    AUTH_LDAP_3_SERVER_URI: '{{ aap_settings.AUTH_LDAP_3_SERVER_URI }}'
    AUTH_LDAP_3_BIND_DN: '{{ aap_settings.AUTH_LDAP_3_BIND_DN }}'
    #AUTH_LDAP_3_BIND_PASSWORD: ''
    AUTH_LDAP_3_START_TLS: {{ aap_settings.AUTH_LDAP_3_START_TLS }}
    AUTH_LDAP_3_CONNECTION_OPTIONS:
      OPT_REFERRALS: {{ aap_settings.AUTH_LDAP_3_CONNECTION_OPTIONS.OPT_REFERRALS }}
      OPT_NETWORK_TIMEOUT: {{ aap_settings.AUTH_LDAP_3_CONNECTION_OPTIONS.OPT_NETWORK_TIMEOUT }}
    AUTH_LDAP_3_USER_SEARCH: {{ aap_settings.AUTH_LDAP_3_USER_SEARCH | default([]) }}
    AUTH_LDAP_3_USER_DN_TEMPLATE: {{ aap_settings.AUTH_LDAP_3_USER_DN_TEMPLATE }}
    AUTH_LDAP_3_USER_ATTR_MAP: {{ aap_settings.AUTH_LDAP_3_USER_ATTR_MAP }}
    AUTH_LDAP_3_GROUP_SEARCH: {{ aap_settings.AUTH_LDAP_3_GROUP_SEARCH | default[] }}
    AUTH_LDAP_3_GROUP_TYPE: {{ aap_settings.AUTH_LDAP_3_GROUP_TYPE }}
    AUTH_LDAP_3_GROUP_TYPE_PARAMS:
      member_attr: {{ aap_settings.AUTH_LDAP_3_GROUP_TYPE_PARAMS.member_attr }}
      name_attr: {{ aap_settings.AUTH_LDAP_3_GROUP_TYPE_PARAMS.name_attr }}
    AUTH_LDAP_3_REQUIRE_GROUP: {{ aap_settings.AUTH_LDAP_3_REQUIRE_GROUP }}
    AUTH_LDAP_3_DENY_GROUP: {{ aap_settings.AUTH_LDAP_3_DENY_GROUP }}
    AUTH_LDAP_3_USER_FLAGS_BY_GROUP: {{ aap_settings.AUTH_LDAP_3_USER_FLAGS_BY_GROUP }}
    AUTH_LDAP_3_ORGANIZATION_MAP: {{ aap_settings.AUTH_LDAP_3_ORGANIZATION_MAP }}
    AUTH_LDAP_3_TEAM_MAP: {{ aap_settings.AUTH_LDAP_3_TEAM_MAP }}
    AUTH_LDAP_4_SERVER_URI: '{{ aap_settings.AUTH_LDAP_4_SERVER_URI }}'
    AUTH_LDAP_4_BIND_DN: '{{ aap_settings.AUTH_LDAP_4_BIND_DN }}'
    # AUTH_LDAP_4_BIND_PASSWORD: ''
    AUTH_LDAP_4_START_TLS: {{ aap_settings.AUTH_LDAP_4_START_TLS }}
    AUTH_LDAP_4_CONNECTION_OPTIONS:
      OPT_REFERRALS: {{ aap_settings.AUTH_LDAP_4_CONNECTION_OPTIONS.OPT_REFERRALS }}
      OPT_NETWORK_TIMEOUT: {{ aap_settings.AUTH_LDAP_4_CONNECTION_OPTIONS.OPT_NETWORK_TIMEOUT }}
    AUTH_LDAP_4_USER_SEARCH: {{ aap_settings.AUTH_LDAP_4_USER_SEARCH | default([]) }}
    AUTH_LDAP_4_USER_DN_TEMPLATE: {{ aap_settings.AUTH_LDAP_4_USER_DN_TEMPLATE }}
    AUTH_LDAP_4_USER_ATTR_MAP: {{ aap_settings.AUTH_LDAP_4_USER_ATTR_MAP }}
    AUTH_LDAP_4_GROUP_SEARCH: {{ aap_settings.AUTH_LDAP_4_GROUP_SEARCH | default([]) }}
    AUTH_LDAP_4_GROUP_TYPE: {{ aap_settings.AUTH_LDAP_4_GROUP_TYPE }}
    AUTH_LDAP_4_GROUP_TYPE_PARAMS:
      member_attr: {{ aap_settings.AUTH_LDAP_4_GROUP_TYPE_PARAMS.member_attr }}
      name_attr: {{ aap_settings.AUTH_LDAP_4_GROUP_TYPE_PARAMS.name_attr }}
    AUTH_LDAP_4_REQUIRE_GROUP: {{ aap_settings.AUTH_LDAP_4_REQUIRE_GROUP }}
    AUTH_LDAP_4_DENY_GROUP: {{ aap_settings.AUTH_LDAP_4_DENY_GROUP }}
    AUTH_LDAP_4_USER_FLAGS_BY_GROUP: {{ aap_settings.AUTH_LDAP_4_USER_FLAGS_BY_GROUP }}
    AUTH_LDAP_4_ORGANIZATION_MAP: {{ aap_settings.AUTH_LDAP_4_ORGANIZATION_MAP }}
    AUTH_LDAP_4_TEAM_MAP: {{ aap_settings.AUTH_LDAP_4_TEAM_MAP }}
    AUTH_LDAP_5_SERVER_URI: '{{ aap_settings.AUTH_LDAP_5_SERVER_URI }}'
    AUTH_LDAP_5_BIND_DN: '{{ aap_settings.AUTH_LDAP_5_BIND_DN }}'
    # AUTH_LDAP_5_BIND_PASSWORD: ''
    AUTH_LDAP_5_START_TLS: {{ aap_settings.AUTH_LDAP_5_START_TLS }}
    AUTH_LDAP_5_CONNECTION_OPTIONS:
      OPT_REFERRALS: {{ aap_settings.AUTH_LDAP_5_CONNECTION_OPTIONS.OPT_REFERRALS }}
      OPT_NETWORK_TIMEOUT: {{ aap_settings.AUTH_LDAP_5_CONNECTION_OPTIONS.OPT_NETWORK_TIMEOUT }}
    AUTH_LDAP_5_USER_SEARCH: {{ aap_settings.AUTH_LDAP_5_USER_SEARCH | default([]) }}
    AUTH_LDAP_5_USER_DN_TEMPLATE: {{ aap_settings.AUTH_LDAP_5_USER_DN_TEMPLATE }}
    AUTH_LDAP_5_USER_ATTR_MAP: {{ aap_settings.AUTH_LDAP_5_USER_ATTR_MAP }}
    AUTH_LDAP_5_GROUP_SEARCH: {{ aap_settings.AUTH_LDAP_5_GROUP_SEARCH | default([]) }}
    AUTH_LDAP_5_GROUP_TYPE: {{ aap_settings.AUTH_LDAP_5_GROUP_TYPE }}
    AUTH_LDAP_5_GROUP_TYPE_PARAMS:
      member_attr: {{ aap_settings.AUTH_LDAP_5_GROUP_TYPE_PARAMS.member_attr }}
      name_attr: {{ aap_settings.AUTH_LDAP_5_GROUP_TYPE_PARAMS.name_attr }}
    AUTH_LDAP_5_REQUIRE_GROUP: {{ aap_settings.AUTH_LDAP_5_REQUIRE_GROUP }}
    AUTH_LDAP_5_DENY_GROUP: {{ aap_settings.AUTH_LDAP_5_DENY_GROUP }}
    AUTH_LDAP_5_USER_FLAGS_BY_GROUP: {{ aap_settings.AUTH_LDAP_5_USER_FLAGS_BY_GROUP }}
    AUTH_LDAP_5_ORGANIZATION_MAP: {{ aap_settings.AUTH_LDAP_5_ORGANIZATION_MAP }}
    AUTH_LDAP_5_TEAM_MAP: {{ aap_settings.AUTH_LDAP_5_TEAM_MAP }}

    # AZURE AD SETTINGS - GET /api/v2/settings/azuread-oauth2/

    SOCIAL_AUTH_AZUREAD_OAUTH2_CALLBACK_URL: {{ aap_settings.SOCIAL_AUTH_AZUREAD_OAUTH2_CALLBACK_URL }}
    SOCIAL_AUTH_AZUREAD_OAUTH2_KEY: '{{ aap_settings.SOCIAL_AUTH_AZUREAD_OAUTH2_KEY }}'
    SOCIAL_AUTH_AZUREAD_OAUTH2_ORGANIZATION_MAP: {{ aap_settings.SOCIAL_AUTH_AZUREAD_OAUTH2_ORGANIZATION_MAP }}
    SOCIAL_AUTH_AZUREAD_OAUTH2_TEAM_MAP: {{ aap_settings.SOCIAL_AUTH_AZUREAD_OAUTH2_TEAM_MAP }}
   # SOCIAL_AUTH_AZUREAD_OAUTH2_SECRET: '' Use password manager lookup call here

    # GITHUB SETTINGS - GET /api/v2/settings/github/

    SOCIAL_AUTH_GITHUB_KEY: '{{ aap_settings.SOCIAL_AUTH_GITHUB_KEY }}'
   # SOCIAL_AUTH_GITHUB_SECRET: ''  Use password manager lookup call here
    SOCIAL_AUTH_GITHUB_ORGANIZATION_MAP: {{ aap_settings.SOCIAL_AUTH_GITHUB_ORGANIZATION_MAP }}
    SOCIAL_AUTH_GITHUB_TEAM_MAP: {{ aap_settings.SOCIAL_AUTH_GITHUB_TEAM_MAP }}

    # GITHUB ORG SETTINGS - GET /api/v2/settings/github-org/

    SOCIAL_AUTH_GITHUB_ORG_CALLBACK_URL: {{ aap_settings.SOCIAL_AUTH_GITHUB_ORG_CALLBACK_URL }}
    SOCIAL_AUTH_GITHUB_ORG_KEY: '{{ aap_settings.SOCIAL_AUTH_GITHUB_ORG_KEY }}'
    # SOCIAL_AUTH_GITHUB_ORG_SECRET: '' Use password manager lookup call here
    SOCIAL_AUTH_GITHUB_ORG_NAME: {{ aap_settings.SOCIAL_AUTH_GITHUB_ORG_NAME }}
    SOCIAL_AUTH_GITHUB_ORG_ORGANIZATION_MAP: {{ aap_settings.SOCIAL_AUTH_GITHUB_ORG_ORGANIZATION_MAP }}
    SOCIAL_AUTH_GITHUB_ORG_TEAM_MAP: {{ aap_settings.SOCIAL_AUTH_GITHUB_ORG_TEAM_MAP }}

    # GITHUB TEAM SETTINGS - GET /api/v2/settings/github-team/

    SOCIAL_AUTH_GITHUB_TEAM_CALLBACK_URL: {{ aap_settings.SOCIAL_AUTH_GITHUB_TEAM_CALLBACK_URL }}
    SOCIAL_AUTH_GITHUB_TEAM_KEY: '{{ aap_settings.SOCIAL_AUTH_GITHUB_TEAM_KEY }}'
    # SOCIAL_AUTH_GITHUB_TEAM_SECRET: '' Use password manager lookup call here
    SOCIAL_AUTH_GITHUB_TEAM_ID: '{{ aap_settings.SOCIAL_AUTH_GITHUB_TEAM_ID }}'
    SOCIAL_AUTH_GITHUB_TEAM_ORGANIZATION_MAP: {{ aap_settings.SOCIAL_AUTH_GITHUB_TEAM_ORGANIZATION_MAP }}
    SOCIAL_AUTH_GITHUB_TEAM_TEAM_MAP: {{ aap_settings.SOCIAL_AUTH_GITHUB_TEAM_TEAM_MAP }}

    # GITHUB ENTERPRISE SETTINGS - GET /api/v2/settings/github-enterprise/

    SOCIAL_AUTH_GITHUB_ENTERPRISE_CALLBACK_URL: {{ aap_settings.SOCIAL_AUTH_GITHUB_ENTERPRISE_CALLBACK_URL }}
    SOCIAL_AUTH_GITHUB_ENTERPRISE_URL: '{{ aap_settings.SOCIAL_AUTH_GITHUB_ENTERPRISE_URL }}'
    SOCIAL_AUTH_GITHUB_ENTERPRISE_API_URL: '{{ aap_settings.SOCIAL_AUTH_GITHUB_ENTERPRISE_API_URL }}'
    SOCIAL_AUTH_GITHUB_ENTERPRISE_KEY: '{{ aap_settings.SOCIAL_AUTH_GITHUB_ENTERPRISE_KEY }}'
   # SOCIAL_AUTH_GITHUB_ENTERPRISE_SECRET: '' Use password manager lookup call here
    SOCIAL_AUTH_GITHUB_ENTERPRISE_ORGANIZATION_MAP: {{ aap_settings.SOCIAL_AUTH_GITHUB_ENTERPRISE_ORGANIZATION_MAP }}
    SOCIAL_AUTH_GITHUB_ENTERPRISE_TEAM_MAP: {{ aap_settings.SOCIAL_AUTH_GITHUB_ENTERPRISE_TEAM_MAP }}

    # GITHUB ENTERPRISE ORG SETTINGS - GET /api/v2/settings/github-enterprise-org/

    SOCIAL_AUTH_GITHUB_ENTERPRISE_ORG_CALLBACK_URL: {{ aap_settings.SOCIAL_AUTH_GITHUB_ENTERPRISE_ORG_CALLBACK_URL }}
    SOCIAL_AUTH_GITHUB_ENTERPRISE_ORG_URL: '{{ aap_settings.SOCIAL_AUTH_GITHUB_ENTERPRISE_ORG_URL }}'
    SOCIAL_AUTH_GITHUB_ENTERPRISE_ORG_API_URL: '{{ aap_settings.SOCIAL_AUTH_GITHUB_ENTERPRISE_ORG_API_URL }}'
    SOCIAL_AUTH_GITHUB_ENTERPRISE_ORG_KEY: '{{ aap_settings.SOCIAL_AUTH_GITHUB_ENTERPRISE_ORG_KEY }}'
   # SOCIAL_AUTH_GITHUB_ENTERPRISE_ORG_SECRET: '' Use password manager lookup call here
    SOCIAL_AUTH_GITHUB_ENTERPRISE_ORG_NAME: '{{ aap_settings.SOCIAL_AUTH_GITHUB_ENTERPRISE_ORG_NAME }}'
    SOCIAL_AUTH_GITHUB_ENTERPRISE_ORG_ORGANIZATION_MAP: {{ aap_settings.SOCIAL_AUTH_GITHUB_ENTERPRISE_ORG_ORGANIZATION_MAP }}
    SOCIAL_AUTH_GITHUB_ENTERPRISE_ORG_TEAM_MAP: {{ aap_settings.SOCIAL_AUTH_GITHUB_ENTERPRISE_ORG_TEAM_MAP }}

    # GITHUB ENTERPRISE TEAM SETTINGS - GET /api/v2/settings/github-enterprise-team/

    SOCIAL_AUTH_GITHUB_ENTERPRISE_TEAM_CALLBACK_URL: {{ aap_settings.SOCIAL_AUTH_GITHUB_ENTERPRISE_TEAM_CALLBACK_URL }}
    SOCIAL_AUTH_GITHUB_ENTERPRISE_TEAM_URL: '{{ aap_settings.SOCIAL_AUTH_GITHUB_ENTERPRISE_TEAM_URL }}'
    SOCIAL_AUTH_GITHUB_ENTERPRISE_TEAM_API_URL: '{{ aap_settings.SOCIAL_AUTH_GITHUB_ENTERPRISE_TEAM_API_URL }}'
    SOCIAL_AUTH_GITHUB_ENTERPRISE_TEAM_KEY: '{{ aap_settings.SOCIAL_AUTH_GITHUB_ENTERPRISE_TEAM_KEY }}'
   # SOCIAL_AUTH_GITHUB_ENTERPRISE_TEAM_SECRET: '' Use password manager lookup call here
    SOCIAL_AUTH_GITHUB_ENTERPRISE_TEAM_ID: '{{ aap_settings.SOCIAL_AUTH_GITHUB_ENTERPRISE_TEAM_ID }}'
    SOCIAL_AUTH_GITHUB_ENTERPRISE_TEAM_ORGANIZATION_MAP: {{ aap_settings.SOCIAL_AUTH_GITHUB_ENTERPRISE_TEAM_ORGANIZATION_MAP }}
    SOCIAL_AUTH_GITHUB_ENTERPRISE_TEAM_TEAM_MAP: {{ aap_settings.SOCIAL_AUTH_GITHUB_ENTERPRISE_TEAM_TEAM_MAP }}

    # GOOGLE OAUTH 2 SETTINGS - GET /api/v2/settings/google-oauth2/

    SOCIAL_AUTH_GOOGLE_OAUTH2_CALLBACK_URL: {{ aap_settings.SOCIAL_AUTH_GOOGLE_OAUTH2_CALLBACK_URL }}
    SOCIAL_AUTH_GOOGLE_OAUTH2_KEY: '{{ aap_settings.SOCIAL_AUTH_GOOGLE_OAUTH2_KEY }}'
    # SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET: '' Use password manager
    SOCIAL_AUTH_GOOGLE_OAUTH2_WHITELISTED_DOMAINS: {{ aap_settings.SOCIAL_AUTH_GOOGLE_OAUTH2_WHITELISTED_DOMAINS | default([]) }}
    SOCIAL_AUTH_GOOGLE_OAUTH2_AUTH_EXTRA_ARGUMENTS:{{ aap_settings.SOCIAL_AUTH_GOOGLE_OAUTH2_AUTH_EXTRA_ARGUMENTS }}
    SOCIAL_AUTH_GOOGLE_OAUTH2_ORGANIZATION_MAP: {{ aap_settings.SOCIAL_AUTH_GOOGLE_OAUTH2_ORGANIZATION_MAP }}
    SOCIAL_AUTH_GOOGLE_OAUTH2_TEAM_MAP: {{ aap_settings.SOCIAL_AUTH_GOOGLE_OAUTH2_TEAM_MAP }}

    # GENERIC OIDC SETTINGS - GET /api/v2/settings/oidc/

    SOCIAL_AUTH_OIDC_KEY: {{ aap_settings.SOCIAL_AUTH_OIDC_KEY }}
    #SOCIAL_AUTH_OIDC_SECRET: ''
    SOCIAL_AUTH_OIDC_OIDC_ENDPOINT: '{{ aap_settings.SOCIAL_AUTH_OIDC_OIDC_ENDPOINT }}'
    SOCIAL_AUTH_OIDC_VERIFY_SSL: {{ aap_settings.SOCIAL_AUTH_OIDC_VERIFY_SSL }}

    # RADIUS SETTINGS - GET /api/v2/settings/radius/

    RADIUS_SERVER: '{{ aap_settings.RADIUS_SERVER }}'
    RADIUS_PORT: {{ aap_settings.RADIUS_PORT }}
    #RADIUS_SECRET: ''

    # SAML SETTINGS - GET /api/v2/settings/saml/

    SAML_AUTO_CREATE_OBJECTS: {{ aap_settings.SAML_AUTO_CREATE_OBJECTS }}
    SOCIAL_AUTH_SAML_CALLBACK_URL: {{ aap_settings.SOCIAL_AUTH_SAML_CALLBACK_URL }}
    SOCIAL_AUTH_SAML_METADATA_URL: {{ aap_settings.SOCIAL_AUTH_SAML_METADATA_URL }}
    SOCIAL_AUTH_SAML_SP_ENTITY_ID: '{{ aap_settings.SOCIAL_AUTH_SAML_SP_ENTITY_ID }}'
    SOCIAL_AUTH_SAML_SP_PUBLIC_CERT: '{{ aap_settings.SOCIAL_AUTH_SAML_SP_PUBLIC_CERT }}'
    SOCIAL_AUTH_SAML_SP_PRIVATE_KEY: '{{ aap_settings.SOCIAL_AUTH_SAML_SP_PRIVATE_KEY }}'
    SOCIAL_AUTH_SAML_ORG_INFO: {{ aap_settings.SOCIAL_AUTH_SAML_ORG_INFO }}
    SOCIAL_AUTH_SAML_TECHNICAL_CONTACT: {{ aap_settings.SOCIAL_AUTH_SAML_TECHNICAL_CONTACT }}
    SOCIAL_AUTH_SAML_SUPPORT_CONTACT: {{ aap_settings.SOCIAL_AUTH_SAML_SUPPORT_CONTACT }}
    SOCIAL_AUTH_SAML_ENABLED_IDPS: {{ aap_settings.SOCIAL_AUTH_SAML_ENABLED_IDPS }}
    SOCIAL_AUTH_SAML_SECURITY_CONFIG:
      requestedAuthnContext: {{ aap_settings.SOCIAL_AUTH_SAML_SECURITY_CONFIG.requestedAuthnContext }}
    SOCIAL_AUTH_SAML_SP_EXTRA: {{ aap_settings.SOCIAL_AUTH_SAML_SP_EXTRA }}
    SOCIAL_AUTH_SAML_EXTRA_DATA: {{ aap_settings.SOCIAL_AUTH_SAML_EXTRA_DATA }}
    SOCIAL_AUTH_SAML_ORGANIZATION_MAP: {{ aap_settings.SOCIAL_AUTH_SAML_ORGANIZATION_MAP }}
    SOCIAL_AUTH_SAML_TEAM_MAP: {{ aap_settings.SOCIAL_AUTH_SAML_TEAM_MAP }}
    SOCIAL_AUTH_SAML_ORGANIZATION_ATTR: {{ aap_settings.SOCIAL_AUTH_SAML_ORGANIZATION_ATTR }}
    SOCIAL_AUTH_SAML_TEAM_ATTR: {{ aap_settings.SOCIAL_AUTH_SAML_TEAM_ATTR }}
    SOCIAL_AUTH_SAML_USER_FLAGS_BY_ATTR: {{ aap_settings.SOCIAL_AUTH_SAML_USER_FLAGS_BY_ATTR }}

    # TACACS+ SETTINGS - GET /api/v2/settings/tacacsplus/

    TACACSPLUS_HOST: '{{ aap_settings.TACACSPLUS_HOST }}'
    TACACSPLUS_PORT: {{ aap_settings.TACACSPLUS_PORT }}
    #TACACSPLUS_SECRET: ''
    TACACSPLUS_SESSION_TIMEOUT: {{ aap_settings.TACACSPLUS_SESSION_TIMEOUT }}
    TACACSPLUS_AUTH_PROTOCOL: {{ aap_settings.TACACSPLUS_AUTH_PROTOCOL }}
    TACACSPLUS_REM_ADDR: {{ aap_settings.TACACSPLUS_REM_ADDR }}



