controller_settings_all:
  settings:
    # SYSTEM SETTINGS

    ACTIVITY_STREAM_ENABLED: {{ aap_settings.ACTIVITY_STREAM_ENABLED }}
    ACTIVITY_STREAM_ENABLED_FOR_INVENTORY_SYNC: {{ aap_settings.ACTIVITY_STREAM_ENABLED_FOR_INVENTORY_SYNC }}
    ORG_ADMINS_CAN_SEE_ALL_USERS: {{ aap_settings.ORG_ADMINS_CAN_SEE_ALL_USERS }}
    MANAGE_ORGANIZATION_AUTH: {{ aap_settings.MANAGE_ORGANIZATION_AUTH }}
    TOWER_URL_BASE: '{{ aap_settings.TOWER_URL_BASE }}'
    REMOTE_HOST_HEADERS: {{ aap_settings.REMOTE_HOST_HEADERS }}
    PROXY_IP_ALLOWED_LIST: {{ aap_settings.PROXY_IP_ALLOWED_LIST }}
    CSRF_TRUSTED_ORIGINS: {{ aap_settings.CSRF_TRUSTED_ORIGINS }}
    REDHAT_USERNAME: '{{ aap_settings.REDHAT_USERNAME | default('') }}'
    SUBSCRIPTIONS_USERNAME: '{{ aap_settings.REDHAT_USERNAME | default('')}}'
    #DEFAULT_EXECUTION_ENVIRONMENT: 3
    CUSTOM_VENV_PATHS: {{ aap_settings.CUSTOM_VENV_PATHS | default([])}}
    INSIGHTS_TRACKING_STATE: {{ aap_settings.INSIGHTS_TRACKING_STATE }}
    AUTOMATION_ANALYTICS_LAST_GATHER: {{ aap_settings.AUTOMATION_ANALYTICS_LAST_GATHER  }}
    AUTOMATION_ANALYTICS_LAST_ENTRIES: '{{ aap_settings.AUTOMATION_ANALYTICS_LAST_ENTRIES | default('') }}'
    AUTOMATION_ANALYTICS_GATHER_INTERVAL: {{ aap_settings.AUTOMATION_ANALYTICS_GATHER_INTERVAL }}
    IS_K8S: {{ aap_settings.IS_K8S }}
    UI_NEXT: {{ aap_settings.UI_NEXT }}

    # JOB SETTINGS

    AD_HOC_COMMANDS: {{ aap_settings.AD_HOC_COMMANDS }}
    ALLOW_JINJA_IN_EXTRA_VARS: {{ aap_settings.ALLOW_JINJA_IN_EXTRA_VARS }}
    AWX_ISOLATION_BASE_PATH: '{{ aap_settings.AWX_ISOLATION_BASE_PATH }}'
    AWX_ISOLATION_SHOW_PATHS: {{ aap_settings.AWX_ISOLATION_SHOW_PATHS }}
    AWX_TASK_ENV: {{ aap_settings.AWX_TASK_ENV }}
    AWX_RUNNER_KEEPALIVE_SECONDS: {{ aap_settings.AWX_TASK_ENV }}
    GALAXY_TASK_ENV:
      ANSIBLE_FORCE_COLOR: '{{ aap_settings.GALAXY_TASK_ENV.ANSIBLE_FORCE_COLOR }}'
      GIT_SSH_COMMAND: '{{ aap_settings.GALAXY_TASK_ENV.GIT_SSH_COMMAND }}'
    PROJECT_UPDATE_VVV: {{ aap_settings.PROJECT_UPDATE_VVV }}
    AWX_ROLES_ENABLED: {{ aap_settings.AWX_ROLES_ENABLED }}
    AWX_COLLECTIONS_ENABLED: {{ aap_settings.AWX_COLLECTIONS_ENABLED }}
    AWX_SHOW_PLAYBOOK_LINKS: {{ aap_settings.AWX_SHOW_PLAYBOOK_LINKS }}
    AWX_MOUNT_ISOLATED_PATHS_ON_K8S: {{ aap_settings.AWX_MOUNT_ISOLATED_PATHS_ON_K8S }}
    GALAXY_IGNORE_CERTS: {{ aap_settings.GALAXY_IGNORE_CERTS }}
    STDOUT_MAX_BYTES_DISPLAY: {{ aap_settings.STDOUT_MAX_BYTES_DISPLAY }}
    EVENT_STDOUT_MAX_BYTES_DISPLAY: {{ aap_settings.EVENT_STDOUT_MAX_BYTES_DISPLAY }}
    MAX_WEBSOCKET_EVENT_RATE: {{ aap_settings.MAX_WEBSOCKET_EVENT_RATE }}
    SCHEDULE_MAX_JOBS: {{ aap_settings.SCHEDULE_MAX_JOBS }}
    AWX_ANSIBLE_CALLBACK_PLUGINS: {{ aap_settings.SCHEDULE_MAX_JOBS | default([]) }}
    DEFAULT_JOB_TIMEOUT: {{ aap_settings.DEFAULT_JOB_TIMEOUT }}
    DEFAULT_JOB_IDLE_TIMEOUT: {{ aap_settings.DEFAULT_JOB_IDLE_TIMEOUT }}
    DEFAULT_INVENTORY_UPDATE_TIMEOUT: {{ aap_settings.DEFAULT_INVENTORY_UPDATE_TIMEOUT }}
    DEFAULT_PROJECT_UPDATE_TIMEOUT: {{ aap_settings.DEFAULT_PROJECT_UPDATE_TIMEOUT }}
    ANSIBLE_FACT_CACHE_TIMEOUT: {{ aap_settings.ANSIBLE_FACT_CACHE_TIMEOUT }}
    MAX_FORKS: {{ aap_settings.MAX_FORKS }}
    DEFAULT_CONTAINER_RUN_OPTIONS: {{ aap_settings.DEFAULT_CONTAINER_RUN_OPTIONS | default([]) }}
